@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layout */
html,
body,
#root {
  height: 100%;
}

/* Style global du body (en Tailwind) */
body {
  margin: 0;
  background-color: #fdfced;
  color: #38434d;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Liens (optionnel, tu peux aussi faire ça en Tailwind dans tes composants) */
a {
  color: #a8a788;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #718597;
}

/* Boutons par défaut (optionnel) */
button {
  font-family: inherit;
}
